<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>
        {% block title %}
        Main Template <!-- Be careful here, you created blocks in the tag.-->
        {% endblock %}
    </title>

</head>

<body>
    {% block bodyH1 %}
    <h1>Welcome To Main Template!</h1> <!-- Be careful here, you created blocks above the tag.-->
    {% endblock %}
    
    {% block bodyP1 %}
    <p>Hey hey this is a paragraph</p>
    {% endblock %}

</body>
</html>